# See more info at
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @michabirklbauer will be requested for
# review when someone opens a pull request.
* @michabirklbauer

# docs-1
# /examples/file_reading/scout.ipynb @louisebuur
# /examples/file_reading/xi.ipynb @louisebuur

# docs-2
# /examples/file_reading/maxlynx.ipynb @s48r1n4
# /examples/file_reading/merox.ipynb @s48r1n4
# /examples/file_reading/mzid.ipynb @s48r1n4
# /examples/file_reading/plink.ipynb @s48r1n4
# /examples/file_reading/xlinkx.ipynb @s48r1n4
